# Application Configuration
APP_NAME=SecureGuard
APP_VERSION=0.1.0
APP_ENV=development
DEBUG=true
LOG_LEVEL=INFO
HOST=0.0.0.0
PORT=8000

# GitHub App Authentication
GITHUB_APP_ID=4492546
GITHUB_CLIENT_ID=Iv23liZQ44TRV62qhhYj
GITHUB_INSTALLATION_ID=
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here
GITHUB_PRIVATE_KEY_PATH=path/to/private-key.pem
PRIVATE_KEY_PATH=path/to/private-key.pem
